<%= form_for(ticket, html: { class: 'form-horizontal', role: 'form' }) do |f| %>

  <!-- display errors (if needed) -->
  <%= render 'errors', ticket: ticket %>

  <!-- display success notices (if needed) -->
  <%= render 'success', ticket: ticket %>

  <div class="well">

    <!-- name field -->
    <div class="form-group">
      <%= f.label :name, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Your name', required: true, autofocus: true %>
      </div>
    </div>

    <!-- computer # field -->
    <div class="form-group">
      <%= f.label :computer, class: 'col-sm-2 control-label' %>
      <div class="col-sm-10">
        <%= f.number_field :computer, class: 'form-control', min: 1, max: 21, maxlength: 2, placeholder: '1-21', required: true, label: 'Computer #' %>
      </div>
    </div>

    <!-- two buttons for editing/creating the Ticket, depending on its type -->
    <div class="form-group">

      <div class="col-sm-offset-2 col-sm-10">
        <button name="ticket[reason]" value="help" type="submit" class="btn btn-warning">
          <i class="glyphicon glyphicon-question-sign"></i> Help
        </button>

        <button name="ticket[reason]" value="lab completed" type="submit" class="btn btn-success">
          <i class="glyphicon glyphicon-ok"></i> Lab completed
        </button>
      </div>

    </div>

  </div>

<% end %>
