<%= form_for(@ticket) do |f| %>

	<% if @ticket.errors.any? %>
		<ul>
		<% @ticket.errors.full_messages.each do |msg| %>
			<div class="alert alert-error">
				<button type="button" class="close" data-dismiss="alert">&times;</button>
				<strong>Error:</strong> <%= msg %>
			</div>
		<% end %>
		</ul>
	<% end %>

	<% if false #if success %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			Your ticket has been filed at <strong><%= @ticket.created_at %></strong>
			for <strong><%= @ticket.reason %></strong> at computer
			<strong><%= @ticket.computer %></strong>
		</div>
	<% end%>

	<div class="form-horizontal">

		<div class="well well-small">

			<div class="control-group">
				<label class="control-label" for="ticket-name">Name</label>
				<div class="controls">
					<input id="ticket-name" name="ticket[name]" type="text" placeholder="Your name" required autofocus>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="ticket-computer">Computer #</label>
				<div class="controls">
					<input id="ticket-computer" name="ticket[computer]" type="number" min="1" max="21" maxlength="2" placeholder="1-21" required>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label">Reason</label>
				<div class="controls">
					<label class="radio">
						<input type="radio" name="ticket[reason]" value="help" checked>
						help
					</label>
					<label class="radio">
						<input type="radio" name="ticket[reason]" value="lab completed">
						lab completed
					</label>
				</div>
			</div>

		</div>

		<div class="control-group">
			<div class="controls">
				<button name="commit" type="submit" class="btn btn-primary">
					<i class="icon-ok"></i> Create ticket
				</button>
			</div>
		</div>

	</div>

<% end %>
