<%= form_for(ticket) do |f| %>

  <!-- display errors (if needed) -->
  <%= render 'errors', ticket: ticket %>

  <!-- display success notices (if needed) -->
  <%= render 'success' %>

  <!-- Ticket edit/creation form -->
  <div class="form-horizontal" id="ticket-form">

    <div class="well">

      <!-- name field -->
      <div class="control-group">
        <%= f.label :name, class: 'control-label' %>
        <div class="controls">
          <%= f.text_field :name, placeholder: 'Your name', required: true, autofocus: true %>
        </div>
      </div>

      <!-- computer # field -->
      <div class="control-group">
        <%= f.label :computer, class: 'control-label' %>
        <div class="controls">
          <%= f.number_field :computer, min: 1, max: 21, maxlength: 2, placeholder: '1-21', required: true %>
        </div>
      </div>

    </div>

  </div>

  <!-- two buttons for editing/creating the Ticket, depending on its type -->
  <div id="submit-buttons">

    <button name="ticket[reason]" value="help" type="submit" class="btn btn-warning">
      <i class="icon-question-sign"></i> Create help ticket
    </button>

    <button name="ticket[reason]" value="lab completed" type="submit" class="btn btn-success">
      <i class="icon-ok"></i> Create lab completed ticket
    </button>

  </div>

<% end %>
