<%= form_for(@ticket) do |f| %>

	<%= render 'errors' %>

	<% if flash[:ticket] and flash[:ticket].valid? %>
		<div class="alert alert-success">
			<button type="button" class="close" data-dismiss="alert">&times;</button>
			Your ticket has been filed at <strong><%= flash[:ticket].created_at %></strong>
			for <strong><%= flash[:ticket].reason %></strong> at computer
			<strong><%= flash[:ticket].computer %></strong>
		</div>
	<% end %>

	<div class="form-horizontal">

		<div class="well">

			<div class="control-group">
				<label class="control-label" for="ticket-name">Name</label>
				<div class="controls">
					<input id="ticket-name" name="ticket[name]" type="text" placeholder="Your name" required autofocus>
				</div>
			</div>

			<div class="control-group">
				<label class="control-label" for="ticket-computer">Computer #</label>
				<div class="controls">
					<input id="ticket-computer" name="ticket[computer]" type="number" min="1" max="21" maxlength="2" placeholder="1-21" required>
				</div>
			</div>

		</div>

	</div>

	<button name="ticket[reason]" value="help" type="submit" class="btn btn-warning">
		<i class="icon-question-sign"></i> Create help ticket
	</button>
	<button name="ticket[reason]" value="lab completed" type="submit" class="btn btn-success">
		<i class="icon-ok"></i> Create lab completed ticket
	</button>

<% end %>
