%tr
  %td= ticket.position
  %td= ticket.name
  %td= ticket.computer
  %td= ticket.reason
  %td

    %span.pull-left
      = time_ago_in_words ticket.created_at
      ago

    = button_to ticket, class: 'btn btn-danger btn-xs pull-right', method: :delete do
      %i.glyphicon.glyphicon-remove
