<tr>
  <td><%= ticket.name %></td>
  <td><%= ticket.computer %></td>
  <td><%= ticket.reason %></td>
  <td>
    <span class="pull-left"><%= distance_of_time_in_words_to_now ticket.created_at %> ago</span>
    <%= link_to ticket, class: 'btn btn-danger pull-right', method: :delete do %>
      <i class="glyphicon glyphicon-remove"></i>
    <% end %>
  </td>
</tr>
