<% content_for :title, 'Show ticket' %>

<% content_for :extra_buttons do %>
  <%= link_to @ticket, method: :delete, class: 'btn btn-danger' do %>
    <i class="icon-remove"></i> Delete
  <% end %>
<% end %>

<!-- show names and values of the Ticket's attributes -->
<div class="row-fluid">
  <div class="span6">
    <%= show_attribute 'Name', @ticket.name %>
    <%= show_attribute 'Computer #', @ticket.computer %>
    <%= show_attribute 'Reason', @ticket.reason %>
  </div>
  <div class="span6">
    <%= show_attribute 'Position', @ticket.position %>
    <%= show_attribute 'Elapsed time', distance_of_time_in_words_to_now(@ticket.created_at) %>
  </div>
</div>
