- content_for :title, 'Your ticket'
- content_for :extra_buttons do
  = button_to @ticket, method: :delete, class: 'btn btn-danger navbar-btn' do
    %i.glyphicon.glyphicon-remove
    Delete

/ show names and values of the Ticket's attributes
.row
  .col-md-6
    = show_attribute 'Name', @ticket.name
    = show_attribute 'Computer #', @ticket.computer
    = show_attribute 'Reason', @ticket.reason
  .col-md-6
    = show_attribute 'Position', @ticket.position
    = show_attribute 'Elapsed time', distance_of_time_in_words_to_now(@ticket.created_at)
