- content_for :title, 'Your ticket'
- content_for :extra_buttons do
  = button_to @ticket, method: :delete, class: 'btn btn-danger navbar-btn' do
    %i.glyphicon.glyphicon-remove
    Delete

/ show names and values of the Ticket's attributes
%dl.dl-horizontal

  %dt Name
  %dd= @ticket.name

  %dt Computer
  %dd= @ticket.computer

  %dt Reason
  %dd= @ticket.reason

  %hr

  %dt Created
  %dd #{time_ago_in_words @ticket.created_at} ago

  %dt Position
  %dd= @ticket.position.ordinalize
