<p id="notice"><%= notice %></p>

<p>
  <b>Owner:</b>
  <%= @ticket.owner %>
</p>

<p>
  <b>Reason:</b>
  <%= @ticket.reason %>
</p>


<%= link_to 'Edit', edit_ticket_path(@ticket) %> |
<%= link_to 'Back', tickets_path %>
