<% if notice %>
	<div class="alert alert-success">
		<button type="button" class="close" data-dismiss="alert">&times;</button>
		<%= notice %>
	</div>
<% end %>

<p>
	<b>Name:</b>
	<%= @ticket.name %>
</p>

<p>
	<b>Computer #:</b>
	<%= @ticket.computer %>
</p>

<p>
	<b>Reason:</b>
	<%= @ticket.reason %>
</p>


<%= link_to 'Back', tickets_path %>
