<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<!-- basic info -->
	<title>Tickets<% if request.path_info.include? 'tickets' %> - View Tickets<% end %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<!-- meta tags -->
	<%= csrf_meta_tags %>
	<!-- icons -->
	<link rel="icon" href="/favicon.png">
</head>
<body>

	<div class="container-fluid" id="main">

		<div class="navbar navbar-inverse">
			<div class="navbar-inner">
				<a class="brand" href="/">Tickets</a>
				<ul class="nav">
					<%= render partial: 'navbar_link', locals: { path: '/', name: 'New ticket', icon: 'plus' } %>
					<%= render partial: 'navbar_link', locals: { path: '/list', name: 'All tickets', icon: 'list' } %>
				</ul>
			</div>
		</div>

		<%= yield %>

	</div>

<!-- scripts -->
<%= javascript_include_tag "application" %>
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</body>
</html>
