<!DOCTYPE html>
<html lang="en">
<head><meta charset="utf-8">
	<!-- basic info -->
	<title>Tickets<% if path_is? '/list' %> - All<% end %></title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<!-- css -->
	<%= stylesheet_link_tag    "application", :media => "all" %>
	<!-- meta tags -->
	<%= csrf_meta_tags %>
	<!-- icons -->
	<link rel="icon" href="/favicon.png">
</head>
<body>

	<div class="container-fluid" id="main">

		<!-- navbar -->
		<div class="navbar navbar-inverse">
			<div class="navbar-inner">

				<!-- major page links -->
				<a class="brand" href="/">Tickets</a>
				<ul class="nav">
					<%= navbar_link 'New', '/', 'plus' %>
					<%= navbar_link 'All', '/list', 'list' %>
				</ul>

				<!-- extra UI buttons for the page -->
				<div id="list-buttons" class="pull-right">

					<a href="/destroy_all" class="btn btn-danger" data-confirm="Are you sure?" rel="nofollow">
						<i class="icon-remove"></i> Destroy all
					</a>

					<button class="btn btn-inverse" onclick="document.location.reload()">
						<i class="icon-refresh"></i> Reload
					</button>

				</div>

			</div>
		</div>

		<!-- page content -->
		<%= yield %>

	</div>

<!-- scripts -->
<%= javascript_include_tag "application" %>
<!--[if lt IE 9]><script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script><![endif]-->
</body>
</html>
