!!!
%html{lang: 'en'}

  %head
    %meta{charset: 'utf-8'}/
    / basic info
    %title Tickets - #{yield :title}
    %meta{content: 'width=device-width, initial-scale=1.0', name: 'viewport'}/
    / css
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    / meta tags
    = csrf_meta_tags
    / icons
    %link{href: '/favicon.png', rel: 'icon'}/

  %body

    #main.container

      .page-header
        %h1

          / app and page title
          Tickets
          %small= yield :title

          / extra UI buttons for the page
          .pull-right
            = yield :extra_buttons
            - if current_page? '/admin'
              = link_to 'Home', '/', class: 'btn btn-default'
            - else
              = link_to 'Admin', '/admin', class: 'btn btn-default'

      / page content
      = yield

    / scripts
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    /[if lt IE 9] <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
